<div class="message">
  <div class="message-user">
    <%= message.user.username %>:
  </div>
  <div class="message-content" style="background-color: <%=message.color%>">
    <%= sanitize markdown_to_html(message.content) %>
  </div>
</div>
